.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #FFDF6C;
    width: 120px;
    height: 120px;
    position: fixed;
    margin: auto;
    /* left:0; and rigth:0; needed for margin: auto to work on positioned elements*/
    left: 0;
    right: 0;
    /* 100 view height divided by 2 is the middle of the screen, -60px is the half of the elements height*/
    top: calc((100vh)/2 - 60px);

    /* @keyframes | duration | timing-function | iteration-count */
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}